<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Alpha_Test_42_Bot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Alpha_Test_42_Bot.Properties.Settings>
            <setting name="NbUtilisateurs" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="User0Name" serializeAs="String">
                <value>Null</value>
            </setting>
            <setting name="User0XP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="User1Name" serializeAs="String">
                <value>Null</value>
            </setting>
            <setting name="User1XP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="User2Name" serializeAs="String">
                <value>Null</value>
            </setting>
            <setting name="User2XP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="User3Name" serializeAs="String">
                <value>Null</value>
            </setting>
            <setting name="User3XP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="User4Name" serializeAs="String">
                <value>Null</value>
            </setting>
            <setting name="User4XP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="User5Name" serializeAs="String">
                <value>Null</value>
            </setting>
            <setting name="User5XP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="User6Name" serializeAs="String">
                <value>Null</value>
            </setting>
            <setting name="User6XP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="User7Name" serializeAs="String">
                <value>Null</value>
            </setting>
            <setting name="User7XP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="User8Name" serializeAs="String">
                <value>Null</value>
            </setting>
            <setting name="User8XP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="User9Name" serializeAs="String">
                <value>Null</value>
            </setting>
            <setting name="User9TotalChar" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="User9XP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="User0TotalWritingTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="User1TotalWritingTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="User2TotalWritingTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="User3TotalWritingTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="User4TotalWritingTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="User5TotalWritingTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="User6TotalWritingTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="User7TotalWritingTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="User8TotalWritingTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="User9TotalWritingTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="User0TotalChar" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="User1TotalChar" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="User2TotalChar" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="User3TotalChar" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="User4TotalChar" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="User5TotalChar" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="User6TotalChar" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="User7TotalChar" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="User8TotalChar" serializeAs="String">
                <value>0</value>
            </setting>
        </Alpha_Test_42_Bot.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>